body {
  background-color: #008B00;
}
.jumbotron {
  background-color: #FF3030;
}
h1 {
  text-align: center;
}
p {
  text-align: center;E
}
li {
  font-family: monospace;
  color: white;
}
img {
  width: 300px;
  height: 300px;
}
#pong {
  float: right;
}
